<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2"><assemblies>
        <add assembly="Telerik.OpenAccess, Version=2015.3.926.1, Culture=neutral, PublicKeyToken=7ce17eeaf1d59342" />
      </assemblies></compilation>
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <connectionStrings>
    <add name="Immobilis" connectionString="DATA SOURCE=//localhost;PASSWORD=QWERTY;PERSIST SECURITY INFO=True;USER ID=IMMOBILIS; Min Pool Size=1; Connection Lifetime=120; Connection Timeout=60; Incr Pool Size=5; Decr Pool Size=2" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>

</configuration>
